<!DOCTYPE html>
<html>
  <head>
    <title>Flotte Lotte!</title>
    <meta http-equiv="refresh" content="3; URL='/'" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>
  <body>
    <%- include('loginHeader', {email: email}); %>
  <div>
    <p><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
    <p><a href="/">Weiter</a></p>
  </div>
  </body>
</html>