<!DOCTYPE html>
<html>
    <head>
        <title>Flotte Lotte!</title>
    </head>
    <body>
        <h2>Willkommen bei Flotte Lotte</h2>
        <p><b>Login Email</b> - <%=email %></p>
	<p><a href="/addTrip">Fahrt anlegen</a></p>
	<p>Meldungen: <%=messages %></p>
        <p><a href="/logout">Logout</a></p>
    </body>
</html>
