<!DOCTYPE html>
<html>
    <head>
        <title>Flotte Lotte!</title>
    </head>
    <body>
        <%- include('loginHeader', {email: email}); %>
	<p><a href="/addTrip">Fahrt anlegen</a></p>
	<p>Meldungen: <%=messages %></p>
        <p><a href="/logout">Logout</a></p>
    </body>
</html>
