<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="registration-form">
  <h3>Herzlich Willkommen</h3>
<p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
<a href="/login">Login</a>
</div>
</body>
</html>
